/* Denote style for entire webpage */
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}


/* Header styling */
header{
    margin: 50px;
    border-bottom: 5px solid #333;
}
/* Denote heading colors and alignment */
h1 {
    color:darkred;
    text-align: center;
}
h2 {
    color:tomato;
    text-align: center;
    margin-top: 50px;
}
/* Align all paragraphs to the center */
p {
    text-align: center;
}


/* Disease Card Design grid layout */
#dc-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
/* Disease Card Design w/o hover */
#dc-grid > .dc {
    height: 200px;
    width: 200px;
    padding: 20px;
}
.symptoms {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: 200px;
    color:white;
}
.disease {
    position: relative;
    z-index: 2;
    height: 200px;
    width: 200px;
}
.name {
    text-align: center;
}
/* Disease Card Design when hovering over */
.dc:hover .symptoms {
    opacity: 0.8;
}
.dc:hover .disease {
    opacity: .3;
}


/* Disease Effect Section */
#disease-effects{
    border: 2px solid #333;
    background-color: white;
    display: block;
    margin: auto;
    padding: 20px;
    height: 180px; 
    width: 700px;
}
#de-image{
    float: right;
    clip-path: circle(40%);
    shape-outside: circle(45%);
}
#de-text{
    text-align: right;
    margin: 20px;
}


/* Management Practices Section */
.management_container{
    border: 2px solid #333;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    min-height: 200px;
}
.management_container > img{
    padding: 10px;
    height: 180px;
    width: 250px;
    margin-bottom: auto;
}
.management_container > p{
    margin: 20px;
}

/* footer design */
footer{
    background-color: #333;
    min-height: 10px;
}
